@tailwind base;
@tailwind components;
@tailwind utilities;

/* extend out styles here to have them in a single css file */
.app-background {
  @apply 
  /* mobile */
  bg-[url('../public/images/bg-mobile-light.jpg')]
  dark:bg-[url('../public/images/bg-mobile-dark.jpg')] 
  bg-no-repeat bg-top dark:bg-dark-very-dark-blue
  /* desktop */
  sm:bg-contain 
  sm:bg-[url('../public/images/bg-desktop-light.jpg')] 
  sm:dark:bg-[url('../public/images/bg-desktop-dark.jpg')];
}

.app-container {
  @apply
  text-[14px]
  /* mobile */
  w-[85%] 
  h-[85%]
  
  /* desktop */
  sm:w-[35%] 
  sm:h-[80%]
  flex
  flex-col
}

.show-border {
  @apply
  border border-solid border-red
}

.footer-text {
  @apply
  dark:text-dark-dark-grayish-blue
  text-light-dark-grayish-blue
}

.todo-input-container {
  @apply
  flex 
  flex-row 
  h-[50px] 
  w-full 
  bg-[#FFF]
  dark:bg-dark-very-dark-grayish-blue 
  rounded-t
  gap-1
}

.todo-option-container {
  @apply
  flex 
  flex-row
  h-[50px] 
  w-full 
  bg-[#FFF]
  dark:bg-dark-very-dark-grayish-blue
  dark:text-dark-dark-grayish-blue
  text-light-light-grayish-blue
  rounded-b-md 
  shadow-xl 
  border-t 
  justify-center
}

.todo-option {
  @apply
  flex
  flex-row
  items-center
  text-[12px]
  justify-center
  /* dark:text- */
}

.todo-option-hover {
  @apply
  hover:text-light-dark-grayish-blue
  hover:dark:text-dark-light-grayish-blue
  cursor-pointer
}

.todo-option-selected {
  @apply
 text-primary-bright-blue
  cursor-pointer
}

.todo-item {
  @apply
  flex 
  flex-row 
  w-full 
  bg-[#FFF]
  dark:bg-dark-very-dark-grayish-blue 
  gap-1
  cursor-pointer
}

.todo-items-container {
  @apply
  overflow-y-auto
  items-center 
  flex 
  flex-col 
  rounded
  h-[80%]
  max-h-[80%]
  divide-y-[1px]
  shadow-xl
  bg-[#FFF]
  dark:bg-dark-very-dark-grayish-blue 
  dark:divide-dark-light-grayish-blue/[.20]
  divide-light-light-grayish-blue
}

/* to do item check indicator */
.todo-check {
  @apply
  border-2
  w-7
  h-7
  border-dark-dark-grayish-blue
  rounded-full
  flex items-center justify-center
  m-auto
  /* hover state */
  hover:bg-gradient-to-r from-[#57DDFF] to-[#C058F3]
  hover:border-none
}

.todo-check-selected {
  @apply
  bg-gradient-to-r from-[#57DDFF] to-[#C058F3]
}

.todo-check-fill {
  @apply
  h-[85%]
  w-[85%]
  rounded-full
  bg-[#FFF]
  dark:bg-dark-very-dark-grayish-blue
}

.todo-input-field {
  @apply
  bg-transparent
  w-full
  py-2
  px-2
  leading-tight
  focus:outline-none
  placeholder-light-light-grayish-blue
  dark:placeholder-dark-dark-grayish-blue
  dark:text-dark-light-grayish-blue
}

.todo-item-description {
  @apply
  flex
  flex-row
  break-all
}

.todo-empty {
  @apply
  h-[80%]
  text-[16px]
  dark:text-dark-light-grayish-blue
  text-light-dark-grayish-blue
  bg-[#FFF]
  shadow-xl
  dark:bg-dark-very-dark-grayish-blue
  flex justify-center items-center 
}
