@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-size: 18px;
}
/* extend out styles here to have them in a single css file */
.app-background {
  @apply 
  /* mobile */
  bg-[url('../public/images/bg-mobile-light.jpg')]
  dark:bg-[url('../public/images/bg-mobile-dark.jpg')] 
  bg-no-repeat bg-top dark:bg-[#1C152B]
  /* desktop */
  sm:bg-contain 
  sm:bg-[url('../public/images/bg-desktop-light.jpg')] 
  sm:dark:bg-[url('../public/images/bg-desktop-dark.jpg')];
}

.app-container {
  @apply
  /* mobile */
  /* desktop */
  sm:w-[35%] 
  sm:h-[80%]
  flex
  flex-col
}